:root {
  --fg: white;
  --card-1: rgb(21, 21, 47);
  --card-2: rgb(58, 29, 29);
  --card-3: rgb(54, 54, 30);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
    "Segoe UI", Roboto, Arial, sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: #fff;
  z-index: 999;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000044;
  backdrop-filter: blur(5px);
  z-index: -1;
}
.logo {
  font-size: 25px;
}
.humburger {
  display: none;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}
.navbar ul li a:hover {
  color: #ffffff6e;
  transition: 0.3s ease;
}
@media (max-width: 760px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 3rem;
  }
  .humburger {
    display: block;
    cursor: pointer;
    font-size: 25px;
    width: 45px;
    height: 45px;
    position: relative;
  }
  .humburger i {
    position: absolute;
    inset: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    opacity: 0;
    transition: 0.3s ease;
  }
  .humburger i.active {
    opacity: 1;
    transform: rotate(180deg);
  }
  .navbar {
    position: absolute;
    background-color: #00000044;
    backdrop-filter: blur(5px);
    top: 80px;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    opacity: 0;
    transition: 0.3s ease;
  }
  .navbar.active {
    opacity: 1;
  }
  .navbar ul {
    display: block;
  }
  .navbar ul li {
    margin: 20px 0;
    padding-bottom: 10px;
  }
  .navbar ul li:last-child {
    border-bottom: none;
  }
  .navbar ul li a {
    margin: 0;
  }
}
.main-page {
  position: relative;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.about-us-section {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.circle-container {
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid #ef79b4;
  box-shadow: 0 4px 10px rgba(56, 46, 62, 0.284);
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.circle {
  width: 24px;
  height: 24px;
  border: 1px solid #ef79b4;
  border-radius: 50%;
}
.h11 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.text-container {
  padding: 0 15%;
}
.big-h1 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 100;
  max-width: 900px;
}
.products-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: #fff; /* start invisible */
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1.5s ease-out,
    transform 1.5s ease-out;
}
.fade.show {
  opacity: 1;
  transform: translateY(0);
}
.fade-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drone-section {
  width: 100%;
  height: 100vh;
}
.camera-section {
  width: 100%;
  height: 100vh;
}
.mobile-robot-section {
  width: 100%;
  height: 100vh;
}
.fence-detection-section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.fence-img {
  width: 100%;
  backdrop-filter: blur(5px);
  transition: ease 0.2s;
}
.fence-img:hover {
  backdrop-filter: blur(0px);
  transition: ease 0.2s;
}
.fence {
  position: absolute;
  top: 18%;
  left: 10%;
  color: #fff;
  font-size: 120px;
}
.Detection {
  position: absolute;
  z-index: -1;
  top: 37%;
  left: 45%;
  color: #fff;
  font-size: 120px;
}
.vehicle-section {
  position: relative;
  padding: 9%;
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  font-size: 50px;
  overflow: hidden;
}
.heading {
  max-width: 600px;
}
.spline-vehicle {
  position: absolute;
  top: 35%;
  left: 50%;
  max-width: 50%;
  pointer-events: none;
}
.scroll {
  width: 100%;
  height: 100vh;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}
p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

  .cards-section {
    position: relative;
  height: 100vh;
  color: #fff;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* TITLE */
.section-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11rem;
  z-index: 1;
  pointer-events: none;
}

/* CARDS CONTAINER */
.cards-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* CARDS */
.cards {
  display: flex;
  width: 75%;
  perspective: 1200px;
  transform: translateY(100vh);
}

.card {
  flex: 1;
  aspect-ratio: 4 / 5;
  position: relative;
  transform-style: preserve-3d;
}
.front{
  background: rgba(161, 24, 24, 0.406);
  backdrop-filter: blur(5px);
}
.front,
.back {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 20px;
}



.back {
  background: #6a5acd;
  transform: rotateY(180deg);
}

.back h3 {
  margin-bottom: 10px;
}

